/* INSTRUCTIONS
 *
 * 1) Keep the text inside .intro-content
 *    in the same place, but have the background
 *    extend from one side of the viewport
 *    to the other, no matter how wide or narrow
 *    the browser is.
 *
 * 2) Limit the maximum width of the text in the
 *    bottom area.
 *
 * You may modify the HTML if needed
 * (you probably should for this challenge)
 *
 */
 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

header{
  background-color: #2E323F;
}

nav{
  width: 80%;
  margin: auto;
  font-family: 'Oswald';
  font-weight: bold;
}

.logo{
align-self: center;
}

.primary{
  justify-self: flex-start;
}

ul{
  gap: 1em;
  padding: 0.5em;
  margin: 0;
}

li{
  list-style-type: none;
}

.linknav{
  text-decoration: none;
  color: white;
}

.linknav:hover{
  color:#16292e
}
.signup{
  background-color: #A59678;
  border-radius: 100px;
  padding: 0.3em;
}

.signup:hover{
  background-color:#c8f0f3;
  color:#16292e
}

body {
  margin: 0;
  font-family: sans-serif;
  width: 100vw;
}

.container {
  width: 100%;
  margin: auto;
  background: #3B4050;
  color: white;  
  padding: 1em;
}

.intro-content {
  max-width: 800px;
  width: 90%;
  margin: auto;  
}

.icleft{
  width: 70%;
}

.h1ic{
  font-size: 4rem;
  font-family: 'Oswald';
  font-weight: bold;
  line-height: 4rem;
}

.icright{
  width: 70%;
  height: 50vh;
}

.pright {
  font-family: 'Montserrat';
  font-weight: normal;
  font-size: 24px;
  margin-top: 2rem;
}

.link{
  text-decoration: none;
}

.iwanttolearn{
  background-color: #A59678;
  padding: 0.5rem;
  margin-top: 3rem;
  border-radius: 100px;
  font-family: 'Oswald';
  font-weight: bold;
  font-size: 24px;
  color: #fff;
  width: fit-content;
}

.iwanttolearn:hover{
  background-color:#c8f0f3;
  color: #3B4050;
  text-decoration: none;
}

.iwanttolearn:visited {
  color: inherit; 
  text-decoration: none;
}

.conteiner2{
  background-color: rgb(241, 241, 241);
  
}

.col{
  padding: 1rem;
  text-align: center;
  font-family: 'Montserrat';
}

.col h2{
  margin-bottom: 0.5rem;
  font-family: 'Oswald';
  color: #A59678;
}

.conteiner3{
  margin: 1rem;
}

.image{
  margin: 2rem 0;
  width: 100%;
  object-fit: cover
}

.conteiner4{
  margin: 1rem;
 
}


.col2{
  background-color: #3B4050;
  margin-bottom: 1rem;
  color: white;
  padding: 0.5rem;
}

.conteiner5{
  background-color: #3B4050;
  padding: 1rem;
  color: white;
  font-size: 0.7rem;
}

.cont5h2{
  color: white;
  text-align: center;
  font-size: 2rem;
}


@media (min-width:600px) {
  nav, .intro-content, .content2, .content3, .content5, .conteiner3{
    max-width: 800px;
  }

  nav{
    display: flex;
    justify-content: space-between;
  }

  .primary{
    display: flex;
    align-items: center;
  }

  .intro-content{
    display: flex;
  }

  .content2 {
    margin: auto;
  }

  .conteiner3{
    display: flex;
    margin: auto;
  }

  .content3{
    margin: 1rem;
  }

  .content5{
    margin: auto;
  }

  .c5cols{
    display: flex;
   
  }


}